@mixin button {
	display: inline-block;
	border: none;
	outline: none;
	padding: .5em 1.5em;
	text-align: center;
	border-radius: .8em;
	cursor: pointer;
	font-size: inherit;
}

.button {
	@include button;
}