
.buttons {
	display: flex;
	justify-content: center;
	padding: 0 0.5rem;
	gap: 2rem;
	margin-bottom: 5rem;
}

.button-container {
	width: 100%;
	text-align: center;
}

.button {
	background: none;
	border: none;
	outline: none;
	padding: .75rem 1rem;
	border-radius: 8px;
	font-weight: 300;
	cursor: pointer;
	color: #fff;

	&--purple {
		background-color: var(--soft-blue);
		color: var(--white);
	}
	
	&--white {
		background-color: var(--dirt-white);
		color: var(--very-dark-blue);
		box-shadow: 5px 5px 15px #ccc;
	}
	
	&--purple,
	&--white {
		&:hover {
			color: var(--soft-blue);
			background-color: transparent;
			transition: box-shadow .3s;
			box-shadow: 0 0 0 2px var(--soft-blue);
		}

	}

	&--red {
		background-color: var(--soft-red);
		width: 100%;
	}
}
