.login-button {
	width: 100%;
	background: none;
	border: none;
	padding: 1rem 0;
	color: var(--white);
	border: 1px solid var(--grayish--blue);
	outline: none;
	border-radius: 8px;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size: 1.3rem;
	cursor: pointer;
}