.login-button {
	width: 100%;
	background: none;
	border: none;
	padding: 1rem;
	color: var(--white);
	border: 1px solid var(--grayish-blue);
	outline: none;
	border-radius: 8px;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size: 1.3rem;
	cursor: pointer;

	@media screen and (min-width: 768px) {
		--white: var(--soft-red);
		border-color: inherit;
		font-size: 1rem;
		padding: .8rem 1rem;
	}
}