.nav {}
.main-nav {
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	z-index: 10;
	background-color: var(--very-dark-blue);
	opacity: .98;
	padding: 6rem 2rem 0 2rem;

	display: flex;
	flex-direction: column;
	align-items: center;
	transition: transform .3s;
	transform: translateY(-100%);
	
	&--active {
		transform: translateY(0);
	}
}

.main-menu,
.footer-menu {
	position: relative;
	list-style: none;
	padding-left: 0;
	margin-top: 0;
	margin-bottom: 0;
	width: 100%;
	text-align: center;

	&__item {
		padding: 1rem;
		margin: .5rem 0;
		border: none;
		border-top: 1px solid var(--grayish-blue);
		
		&:last-child {
			border-bottom: 1px solid var(--grayish-blue);
			margin-bottom: 2rem;
		}

		&--border-none,
		&--border-none:last-child {
			border: none;
		}
	}

	&__link {
		text-decoration: none;
		color: var(--white);
		text-transform: uppercase;
		letter-spacing: 3px;
		font-weight: 300;
		font-size: 1.3rem;
	}
}