.nav {}
.main-nav {
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	background-color: var(--very-dark-blue);
	opacity: .98;
}

.main-menu {
	list-style: none;
	padding-left: 0;
	margin-top: 0;
	margin-bottom: 0;

	&__item {}

	&__link {
		text-decoration: none;
		color: var(--bg-color);
	}
}