
.section {
	margin-top: 6rem;

	&__title,
	&__text,
	&__subtitle {
		text-align: center;
	}

	&__text {
		padding: 0 1.5rem;
		font-weight: 400;
		color: var(--grayish-blue);
		margin-bottom: 2rem;
	}

	&--first {
		position: relative;
		
		&::before {
			content: '';
			position: absolute;
			top: 65px;
			right: 0;
			z-index: -1;
			display: block;
			width: 280px;
			height: 200px;
			background-color: var(--soft-blue);
			border-bottom-left-radius: 100px;
		}
	}

	&--second {
		position: relative;
	}

	&--third {
		margin: 0 2rem;
	}
}
